*.svg
.env
# BrightScript 
dist/apps
out/
build/
roku_modules
source/globals.brs
components/home/.DS_Store
images/.DS_Store
source/.DS_Store
.DS_Store
jellyfin-roku.zip
# NPM 
node_modules/
# Eclipse
.buildpath
.project
.settings